@(email:String)
<style>
#myButtons{
margin-top: 15px;
}
</style>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">

    <div class="row">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span> <span
        class="icon-bar"></span> <span class="icon-bar"></span> <span
        class="icon-bar"></span>
        </button>
        <a class="navbar-brand navbar-collapse collapse" style="padding-bottom: 0 ;" href="@{routes.ClimateServiceController.home(email,"loginAlready")}"><img
        src='@routes.Assets.at("images/NASA_JPL_logo.png")' style="height: 40px ; width: 220px ;">
          <img
          src='@routes.Assets.at("images/logo.png")' style="height: 15px ; width: 250px ;">
        </a>
      </div>

      <div id="myButtons" class="navbar-collapse collapse" style="height:">



        <form class="navbar-form navbar-right" role="logout">
          <a class="btn btn-danger" href="@{routes.ClimateServiceController.home(null,null,"logout")}" role="button">Log Out&raquo;</a>
        </form>

        <ul class="nav navbar-nav navbar-right">

        <form class="navbar-form navbar-right" role="findFriend">
          <a class="btn btn-info" href="@{routes.Application.findFriend(email)}" role="button">Find friend</a>
        </form>
          <h10 class="navbar-brand navbar-left">Welcome,@email!</h10>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Service<b class="caret"></b> </a>

          <ul class="dropdown-menu">
            <li><a href="@routes.ClimateServiceController.searchService(email)">Search Service </a></li>
            <li><a href="@routes.ClimateServiceController.climateServices(email)">Service List</a></li>
            <li><a href="@routes.ClimateServiceController.mostPopularClimateServices(email)">Most Popular Service</a></li>
            <li><a href="@routes.ClimateServiceController.mostRecentlyAddedClimateServices(email)">Recent Added Service</a></li>
            <li><a href="@routes.ClimateServiceController.mostRecentlyUsedClimateServices(email)">Recent Used  Service</a></li>
            <li><a href="@routes.ClimateServiceController.top3(email)">Top 3 Graded Service</a></li>
          </ul>
        </li>

        <li class="dropdown"><a href="#"
        class="dropdown-toggle" data-toggle="dropdown">Dataset<b
        class="caret"></b> </a>
          <ul class="dropdown-menu">
            <li><a href="@routes.DatasetController.datasetList(email)">Dataset List</a></li>
            <li><a href="@routes.DatasetController.searchDataset(email)">Search dataset</a></li>
          </ul>
        </li>
        @*<li class="dropdown"><a href="#"*@
        @*class="dropdown-toggle" data-toggle="dropdown">Support<b*@
        @*class="caret"></b></a>*@
        @*<ul class="dropdown-menu">*@
        @*<li><a href="@routes.AccountController.getServiceLog">Service Execution Log List</a></li>*@
        @*<li><a href="@routes.AccountController.searchServiceLog">Service Execution Log Search</a></li>*@
        @*</ul>*@
        @*</li>*@
        <li class="dropdown"><a href="#"
        class="dropdown-toggle" data-toggle="dropdown">About<b
        class="caret"></b> </a>
          <ul class="dropdown-menu">
            <li><a href="@routes.ClimateServiceController.home(email)">Home</a></li>
            <li><a href="@routes.AboutusController.aboutUs(email)">About Us</a></li>
            <li><a href="@routes.AboutusController.aboutProject(email)">About project</a></li>
          </ul>
        </li>
        </ul>
      </div>

    </div>
  </div>
</div>